<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="css/dashboard.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
      rel='stylesheet'>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <img src="Pictures/logo.png" alt="" class="icon">
        <div class="logo_name">Gyelpozhing</div>
        <i class='bx bx-menu' id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/dashboard">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="/bookedUserList">
            <i class='bx bx-book'></i>
            <span class="links_name">Booked&nbsp;List</span>
          </a>
          <span class="tooltip">Booked&nbsp;List</span>
        </li>
        <li>
          <a href="/confirmBookedUserList">
            <i class='bx bx-dollar-circle'></i>
            <span class="links_name">Paid&nbsp;List</span>
          </a>
          <span class="tooltip">Paid&nbsp;List</span>
        </li>
        <li>
          <a href="/feedback">
            <i class='bx bx-chat'></i>
            <span class="links_name">Feedback</span>
          </a>
          <span class="tooltip">Feedback</span>
        </li>
        <li>
          <a href="/logout">
            <i class='bx bx-log-out' id="log_out"></i>
            <span class="links_name">Logout</span>
          </a>
          <span class="tooltip">Logout</span>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <div class="wrapper">
        <div class="container">
            <% var counts = 0 %>
                <%bookedRecords.forEach(function(records){%>
                    <% counts++ %>
                <%})%>
          <i class='bx bx-user'></i>
          <span class="num" data-val="400"><%= counts %></span>
          <span class="text">Total&nbsp;Booking&nbsp;Order</span>
        </div>
        <div class="container">
          <% var count = 0 %>
            <%bookedRecords.forEach(function(records){%>
              <%if(records.payment === false){%>
                <% count++ %>
              <%}%>
            <%})%>
          <i class='bx bx-dollar-circle'></i>
          <span class="num" data-val="400"><%= count %></span>
          <span class="text">Payment&nbsp;Pending</span>
        </div>
        <div class="container">
            <% var counts1 = 0 %>
            <%bookedRecords.forEach(function(records){%>
                <%if(records.isConfirm === true){%>
                    <% counts1++ %>
                <%}%>
            <%})%>
          <i class='bx bx-book'></i>
          <span class="num" data-val="400"><%= counts1 %></span>
          <span class="text">Booked&nbsp;List</span>
        </div>
      </div>
      <div class="table_header">
        <p>Total Users</p>
      </div>
      <div class="header_fixed">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Screenshoot</th>
              <th>Date</th>
              <th>Time</th>
              <th>Payment</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% bookedRecords.forEach(function(records){ %>
              <% if(records.payment === true){ %>
                <tr>
                  <td><%=records.name%></td>
                  <td>
                    <% if(records.img === undefined){ %>
                      <p class="lead" style="margin-left: 1rem;">No Screenshoot</p>
                    <% }else{ %>
                      <img class="card-img-top" src="/uploads/<%=records.img%>">
                    <% } %>
                  </td>
                  <% const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %>
                  <% const dates = records.date %>
                  <% const date = dates.split('-') %>
                  <% const year = date[0] %>
                  <% const month = date[1] %>
                  <% const date1 = date[2] %>
                  <td><%=`${date1}-${months[month]}-${year}`%></td>
                  <% const times = records.time %>
                  <% const time = times.split(':') %>
                  <% const time1 = time[0] %>
                  <% const minutes = time[1] %>
                  <% const hoursForClock = time1 >= 13 ? time1 % 12 : time1 %>
                  <% const ampm = time1 >= 12 ? 'PM' : 'AM' %>
                  <td><%= `${hoursForClock}:${minutes < 10 ? `${minutes}` : minutes} ${ampm}` %></td>
                  <td>
                    <% if(records.payment === true){ %>
                      <%  var status = "Paid" %>
                    <% }else{ %>
                      <% var status = "Not paid" %>
                    <% } %>
                    <%=status%>
                  </td>
                  <td>
                    <form action="/confirmBookedUserList" method="POST">
                      <button name="done" value="<%=records._id%>" type="submit" class="paid-btn">Done</button>
                    </form>
                  </td>
                </tr>
                <% } %> 
            <% }) %>
          </tbody>
        </table>
      </div>
      <footer>
        <p>Gyalpozhing Turf Booking © 2022 . All Rights Reserved</p>
      </footer>
    </section>
    <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <% if (typeof errorMessage !=="undefined" ) { %>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: "<%= errorMessage %>",
      })
      </script>
  <% } %>
  <% if (typeof successMessage !== "undefined") { %>
    <script>
      swal({
        title: "Good job!",
        text: "<%= successMessage %>",
        icon: "success",
      });
      </script>
  <% } %>

    <script type="text/javascript">
      window.history.forward();
      function noBack() {
          window.history.forward();
      }
  </script>
  </body>
</html>