<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>New Password</title>
    <link rel="stylesheet" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <body>
        <div class="box">
            <div class="form">
                <form action="/resetPasswordForm" method="POST" autocomplete="off">
                    <h2>New Password</h2>
                    <div class="inputBox">
                        <input type="password" name="password" value="<%=(typeof inputData!='undefined') ? inputData.password: ''%>" required>
                        <span>Password</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="confirmPassword" value="<%=(typeof inputData!='undefined') ? inputData.confirmPassword: ''%>" required>
                        <span>Confirm Password</span>
                        <i></i>
                    </div>
                    <input type="submit" value="Reset">
                </form>
            </div>
        </div>
        <% if (typeof errorMessage !=="undefined" ) { %>
          <script>
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              html: "<%= errorMessage %>",
            })
            </script>
        <% } %>
        <% if (typeof successMessage !== "undefined") { %>
          <script>
            swal({
              title: "Good job!",
              icon: "success",
              html: "<%= successMessage %>",
            });
            </script>
        <% } %>
      <% if ((typeof errors!="undefined" && typeof errors.password!="undefined") ? errors.password.msg: "") { %>
        <script>
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            html: "<%= errors.password.msg %>"
          })
          </script>
      <% } %>
      <% if ((typeof errors!="undefined" && typeof errors.confirmPassword!="undefined") ? errors.confirmPassword.msg: "") { %>
        <script>
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            html: "<%= errors.confirmPassword.msg %>"
          })
          </script>
      <% } %>

      <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
    </body>
</html>