<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gyalpozhing TURF BOOKING</title>
        <link rel="stylesheet" href="css/splash.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&display=swap" rel="stylesheet">    </head>
    <body>
        <div class="welcome-section content-hidden">
            <div class="content-wrap">
                <ul class="fly-in-text">
                    <li class="first">Gyalpozhing Turf Booking</li>
                    <li class="second">"When you are on the turf, nothing else matters" ~KD</li>
                </ul>

                <a href="index.html" class="enter"></a>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript">
            // function redirect_Page () {
            //     var welcomeSection = $('.welcome-section')  
            //     var tID = setTimeout(function () {
            //     window.location.href = "https://www.encodedna.com/javascript/operators/default.htm";
            //     window.clearTimeout(tID);		// clear time out.
            //     }, 5000);}
            $(function() {
                var welcomeSection = $('.welcome-section')   
                             
                setTimeout(function() {
                    welcomeSection.removeClass('content-hidden');
                    // window.location.href = "index.html";
                }, 500);

                var tID = setTimeout(function () {
                window.location.href = "home";
                window.clearTimeout(tID);		// clear time out.
                }, 5000);

            })();
            
        </script>
    </body>
</html>

