<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
  <title>Payment Form</title>
  <link rel="stylesheet" href="css/userPaymentForm.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body style="background: #23242a;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="box box1">
          <div class="form QR-scan">
            <h2>Scan to pay</h2>
            <img src="Pictures/QR.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="box">
          <div class="form">
            <form action="/userPaymentForm" method="POST" autocomplete="off" enctype="multipart/form-data">
              <h2>Payment Form</h2>
              <div class="inputBox">
                <input type="text" name="email" value="<%=(typeof inputData!='undefined') ? inputData.email: ''%>">
                <span>Email</span>
                <i></i>
              </div>
              <div class="inputBox">
                <input type="file" name="image" id="image" value="<%=(typeof inputData!='undefined') ? inputData.image: ''%>">
                <span>Attach Payment ScreenShoot</span>
                <i></i>
              </div>
              <input type="submit" value="Pay">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (typeof errorMessage !=="undefined" ) { %>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: "<%= errorMessage %>",
      })
    </script>
  <% } %>
  <% if (typeof successMessage !=="undefined" ) { %>
    <script>
      swal({
        title: "Good job!",
        text: "<%= successMessage %>",
        icon: "success",
      });
    </script>
  <% } %>
  <% if ((typeof errors!="undefined" && typeof errors.email!="undefined" ) ? errors.email.msg: "" ) { %>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: "<%= errors.email.msg %>",
      })
    </script>
  <% } %>
    <% if ((typeof errors!="undefined" && typeof errors.image!="undefined" ) ?
      errors.image.msg: "" ) { %>
      <script>
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          html: "<%= errors.image.msg %>",
        });
      </script>
  <% } %>

  <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</body>

</html>